@media only screen and (max-width: 375px) {
  .main {
    width: 100%;
    height: 800px;
  }
  .nav {
    width: 100%;
  }

  .nav-link {
    display: none;
  }

  .nav-button input {
    position: relative;
    width: 100px;
    height: 40px;
    border: 2px solid #4db2a04d;
    background: transparent;
    color: #4db2a0;
    text-transform: uppercase;
  }
  .circle1 {
    left: 50%;
    top: -30%;
  }

  .circle2 {
    left: 30%;
    top: -40%;
  }

  .circle3 {
    left: 10%;
    top: -40%;
  }

  .logo {
    z-index: 1;
  }

  .section {
    display: inline-block;
    /* direction: rtl; */

    padding: 0;
  }

  .section .section_1 {
    position: absolute;
    width: 100%;
    z-index: 3;
    margin-top: 90%;
  }

  .section .section_2 img {
    width: 80%;
    margin-top: -25%;
    margin-left: -50%;
  }

  .products {
    width: 100%;
    height: max-content;
  }

  .products .products_tagline {
    font-size: 20px;
    margin-top: 2%;
    text-align: center;
    width: 80%;
    margin-left: 10%;
  }

  .products_card {
    display: block;
  }

  .card {
    margin-top: 5%;
  }

  .products_faq {
    margin: 5%;
  }

  .features {
    width: 100%;
    margin-top: 10%;
    height: 1050px;
  }

  .feature_content_1 {
    display: block;
    margin-top: 1%;
    width: 360px;
    /* color: gray; */
  }

  .feature_content_1 p {
    margin-top: 5%;
    width: 80%;
    line-height: 40px;
    /* text-align: justify; */
    font-size: 16px;
    color: gray;
  }

  .feature_content_1 .content_1 {
    margin-top: 8%;
    /* margin-left: 5%; */
  }

  .feature_content_1 .content_1 .content_img {
    width: 60px;
  }
  .feature_content_1 .content_info {
    margin-left: 5%;
  }

  .about {
    width: 100%;
    height: max-content;
  }

  .about_us,
  .services,
  .schedule {
    display: block;
    width: 90%;
    margin-left: 5%;
  }
  .services_info,
  .schedule_info {
    width: 90%;
    margin-left: 5%;
    margin-bottom: 5%;
  }
  .about_us img,
  .services img,
  .schedule img {
    width: 90%;
    margin-top: 5%;
    margin-left: 5%;
  }

  .about_us .about_info p,
  .services_info p,
  .schedule_info p {
    width: 280px;
  }

  .numbers {
    width: 80%;
    height: max-content;
    margin-left: 10%;
    display: block;
    padding: 5%;
  }

  .numbers h4 {
    margin-top: 5%;
  }

  .numbers .numbers_info p {
    margin: 5%;
    width: 250px;
    margin-left: 0;
  }

  .main-gallary {
    margin-top: 5%;
    width: 100%;
    height: max-content;
  }

  .gallary_info h2 {
    margin-top: 5%;
  }
  .gallary_info p {
    margin-top: 5%;
    width: 250px;
    text-align: center;
    margin-left: 15%;
  }

  .media_gallary {
    width: 90%;
    height: 1200px;
    margin-left: 5%;
    margin-top: 5%;
  }

  .gallary-1 {
    width: 100%;
    margin: 0;
  }

  .gallary-2 {
    width: 50%;
    margin: 5% 0;
  }

  .gallary-3 {
    width: 44%;
    height: 120px;
    margin: -60.6% 56%;
  }

  .gallary-4 {
    width: 100%;
    margin: 85% 0;
    height: 300px;
    /* display: none; */
  }
  .gallary-5 {
    /* display: none; */
    width: 100%;
    margin: -78% 0 0 0;
  }
  .gallary-6 {
    width: 55%;
    /* display: none; */
    margin: 6% 0;
  }
  .gallary-7 {
    /* display: none; */
    width: 40%;
    margin: -68% 60%;
  }

  .media_footer p {
    font-size: medium;
    width: 300px;
    margin-left: 9%;
    margin-top: 4%;
  }

  .best-school {
    width: 90%;
    margin-left: 5%;
    display: block;
    margin-top: 10%;
  }

  .school-info h2 {
    width: 300px;
  }

  .events {
    width: 90%;
    margin-left: 5%;
  }

  .event_info {
    width: 100%;
    display: block;
    margin: 0;
  }

  .event_heading h2 {
    margin-top: 3%;
    font-size: 35px;
  }
  .event_description p {
    width: 340px;
  }

  .events_card {
    width: 100%;
    height: 500px;
    display: block;
    margin-top: 5%;
    margin-left: 0;
  }

  .events_card_img {
    width: 100%;
    height: 200px;
    object-fit: cover;
  }

  .events_card_info {
    padding: 5%;
  }

  .events_card_info h2 {
    margin-top: 5%;
  }

  .events_details {
    display: block;
    margin-top: 6%;
  }
  .events_details1 {
    margin-top: 5%;
  }

  .events_card button {
    margin-top: 6%;
    padding: 2%;
  }

  .events_footer {
    padding: 10%;
  }

  .schedule {
    width: 100%;
    height: max-content;
  }

  .schedule_info {
    margin-top: 5%;
  }

  .teacher_profiles {
    width: 100%;
    /* margin-left: 5%; */
  }

  .teacher_heading h4 {
    margin-top: 5%;
  }

  .teacher_heading h2 {
    margin-top: 5%;
  }
  .carousel {
    width: 100%;
  }

  .Group_card {
    margin-top: 5%;
    padding: 1%;
    display: grid;
    grid-auto-flow: column;
    scroll-behavior: auto;
    gap: 1.2rem;
    overflow-y: auto;
    overscroll-behavior-x: contain;
    scroll-snap-type: mandatory;
    scrollbar-width: none;
  }

  .testimonils {
    width: 90%;
    margin-left: 5%;
    height: max-content;
  }

  .testimonils h4 {
    margin-top: 10%;
  }

  .testimonils h2 {
    margin-top: 5%;
  }

  .group_comment_card {
    width: 100%;
    display: block;
  }
  .comment_Card img {
    margin: 0;
  }
  .comment_Card {
    margin-top: 10%;
    display: block;
    width: 100%;
    height: max-content;
  }

  .comment_info {
    width: 100%;
  }

  .logos-slide {
    white-space: nowrap;
    animation: 5s slide infinite linear;
  }

  .logos-slide img {
    margin: 0 30px;
  }

  .blogs {
    width: 100%;
    height: max-content;
  }

  .blogs_info {
    width: 90%;
    margin-left: 5%;
  }

  .blogs_group_card {
    width: 100%;
    /* margin-left: 5%; */
    display: block;
  }

  .blogs_card {
    width: 100%;
    margin-top: 6%;
  }

  .bloges_footer {
    width: 100%;
    margin-left: 20%;
  }

  .newslatter {
    width: 90%;
    margin-left: 5%;
    height: max-content;
    display: block;
  }

  .news_info {
    padding: 2%;
    margin-top: 2%;
  }

  .news_info p {
    margin-top: 5%;
    width: 70%;
    line-height: 25px;
  }

  .news_contact {
    padding: 2%;
    margin-top: 2%;
  }

  .news_contact input,
  .news_contact button {
    width: 100%;
    margin-top: 5%;
    margin-bottom: 5%;
  }

  .convtactus {
    width: 100%;
    margin-top: 15%;
  }

  .contact_location {
    width: 90%;
    height: max-content;
    margin-left: 5%;
    margin-top: 15%;
  }

  .map_location {
    width: 100%;
    margin-left: 5%;
  }

  .contact {
    display: block;
  }

  .contact_details {
    margin-top: 5%;
    justify-content: space-around;
  }

  .footer {
    display: block;
    margin-left: 5%;
    text-align: center;
  }

  .footer .menu {
    margin-top: 6%;
  }

  .footer ul > li {
    list-style: none;
    text-transform: capitalize;
    margin-top: 3%;
  }

  .footer .programs {
    margin-top: 8%;
  }

  .social_media {
    margin-top: 6%;
  }
  .main-footer {
    display: block;
  }

  .main-footer .copy_footer p {
    width: 250px;
    text-align: center;
    margin-left: 5%;
  }

  .main-footer .footer_info {
    margin-left: 15%;
  }
}
